.metaevent {
  display: block;

  .info-block {
    transition: .5s;
    transition-timing-function: ease;
    display: block;
    position: absolute;
    right: 25px;
    bottom: 25px;
    background-size: contain;
    background-repeat: no-repeat;

    &.small {
      width: 260px;
      height: 134px;
    }

    &.big {
      width: 630px;
      height: 333px;
    }

  }
}
